doctype html
html
  head
    title='To do list'
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(href='style.css',rel='stylesheet')
  body
    .app-view
      header
        h1='to do list'
        button(id='remove') Clear
      main
        ul#task-list
      footer
        form#input-form
          input(type='text',name='task-input',id='task-input')
          button='+'
    script(src='main.js')
